.input-rounded {
    --background: #ffffff; /* Set the background color */
    --padding-start: 8px; /* Set start padding */
    --border-radius: 15px; /* Set border radius for roundness */
    --border-color: #cccccc; /* Set border color */
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
    --transition: all 0.3s; /* Smooth transition for focus/hover effects */
    margin-bottom: 10px;
    width: 290px;
}

ion-button {
    --background: #46C451; /* This will change the background color */
    --background-focused: #46C451; /* Change background color when focused */
    --background-hover: #46C451; /* Change background color when hovered */
    --background-activated: #46C451; /* Change background color when activated */
    color: #ffffff; /* Change text color to white for better contrast */
}

@media (prefers-color-scheme: dark) {
    .textStuff {
      color: #000;
    }
  }

  @media (prefers-color-scheme: light) {
    .registerText{
      color: #000;
    }
  }