<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home" href="/tabs/Home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Marketplace" href="/tabs/Marketplace">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Marketplace</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Notification" href="/tabs/Notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Account" href="/tabs/Account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
